@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply max-w-screen-md mx-auto bg-blue-300 text-white text-center pt-12 pb-2 relative
  }

  .mask {
    @apply absolute inset-0 max-w-full max-h-full bg-black/30
  }

  .nav {
    @apply absolute inset-0 max-h-full w-52 bg-blue-600 text-white -translate-x-52 z-10
  }

  .nav-header {
    @apply py-8 px-4 bg-blue-300 text-center text-lg font-bold
  }

  .nav-list {
    @apply flex flex-col py-4
  }

  .nav-item {
    @apply pl-4 py-4 hover:bg-blue-400/50 flex items-center justify-start gap-2 hover:cursor-pointer
  }

  .nav-label {
    @apply text-xs font-bold uppercase
  }

  .nav-icon {
    @apply text-blue-400
  }

  .list-status {
    @apply bg-blue-100 text-blue-400 flex justify-around pt-2 max-w-screen-md mx-auto hover:cursor-pointer
  }

  .status {
    @apply pt-3 pb-1 text-sm font-semibold uppercase border-solid border-b-2 border-blue-100 active:text-blue-400/50 active:border-blue-400/50
  }

  .active-status {
    @apply border-blue-400
  }

  .button {
    @apply rounded-sm text-xs uppercase text-center py-3 w-full bg-blue-500 active:bg-blue-500/50 text-white
  }

  .button-accept {
    @apply rounded-sm text-xs uppercase text-center py-3 w-full bg-blue-500 active:bg-blue-500/50 text-white flex items-center justify-center gap-1
  }

  .button-reject {
    @apply rounded-sm text-xs uppercase text-center py-3 w-full text-blue-500 bg-white active:bg-blue-500/50 border-solid border-2 border-blue-200 flex items-center justify-center gap-1
  }

  .login-input {
    @apply rounded-3xl w-[80%] p-3 mt-2 border-2 border-solid border-blue-200 focus:border-blue-500 focus:ring-1 focus:outline-none placeholder:text-blue-200
  }

  .input {
    @apply text-lg text-blue-400 font-semibold mt-1 border-b-2 border-solid border-blue-200 focus:outline-none focus:border-blue-300 placeholder:text-blue-200
  }

  .input-file {
    @apply border-dashed border-4 border-blue-200 mx-4 h-32 flex flex-col items-center justify-center
  }

  .input-error {
    @apply text-red-500 border-red-500 hover:border-red-500 placeholder:border-red-200
  }

  .label-error {
    @apply text-xs text-red-500
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}